<ul>
  <li>
    Configuration
    <ul>
      <li><a href="/docs/configuration/config-file"><%= t("config.basic") %></a></li>
      <li><a href="/docs/configuration/modules">Modules</a></li>
      <li><a href="/docs/configuration/upload"><%= t("config.file_upload") %></a></li>
      <li><a href="/docs/configuration/mailer"><%= t("config.mailer") %></a></li>
      <li><a href="/docs/configuration/apns"><%= t("config.apns") %></a></li>
    </ul>
  </li>
  <li>
    Single Sign On
    <ul>
      <li><a href="/docs/sso/as-client"><%= t("config.as_sso_client") %></a></li>
      <li><a href="/docs/sso/as-provider"><%= t("config.as_sso_provider") %></a></li>
    </ul>
  </li>
  <li><a href="/docs/ssl"><%= t("config.ssl") %></a></li>
</ul>
